body {
background: #fff;
}

.map{
  margin: 0 auto;
  height: 100vh;
  width: 100%;
  background-image: url("/images/HDMapImagery.jpg");
  background-size:  cover;
  background-position: center;
  background-repeat: no-repeat;

}

.question {
  display: block;
  text-align: center;
  font-size: 25px;
  font-family: sans-serif;
}

.playerOneFlag {
  background-image: url("/images/003-flag-1.png");
  position: absolute;
}
