body {
  padding: 0;
  margin: 0;
  background: #fff;
  font-family: 'Raleway', sans-serif;
}

.wrapper {
  width: 100%;
  display: inline-block;
  position: relative;

  &:after {
    padding-top: 56.25%;
    display: block;
    content: '';
  }
}

.map{
  display: block;
  margin: 0 auto;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  &.london {
    background-image: url("/images/HDMapLondon.jpg");
  }

  &.new-york {
    background-image: url("/images/MapHDNewYork.jpg");
  }

  &.madrid {
    background-image: url("/images/MapHDMadrid.jpg");
  }

  &.hong-kong {
    background-image: url("/images/MapHDHongKong.jpg");
  }
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 2px solid lightgrey;

}

.welcome {
  @extend .center;
  width: 500px;
  height: 500px;
  display: none;
  background-color: white;
  z-index: 100;
  text-align: center;
  border-radius: 5px;
  // background-image: url("/images/skylinebackground.png");
  // background-position: bottom center;
  // background-size: contain;
  // background-repeat: no-repeat;

  h1 {
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 60px;
    margin: 10px;

  }

  .map-select {
    font-size: 15px;
  }

  .quiz-select {
    font-size: 15px;
    display: none;

    &.selected {
      display: inline;
    }
  }


  .start-game-button {
    margin: 40px;
    padding: 15px;
    width: 400px;
    height: 100px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    background-color: #E8F1F5;
    opacity: 0.7;
    font-size: 20px;
    transition: background-color 0.5s;

  }
  .start-game-button:hover {
    background-color: #005691;
    color: white;
    opacity: 1;
  }
}

.question {
  @extend .center;
  position: absolute;
  background-color: white;
  z-index: 50;
  text-align: center;
  border-radius: 5px;
  display: none;
  height: 200px;

  .start-round-button {
    margin: 20px;
    padding: 15px;
    width: 300px;
    border: 1px solid lightGrey;
    border-radius: 3px;
    background-color: #E8F1F5;
    font-size: 20px;
    transition: background-color 0.5s;
  }
  .start-round-button:hover {
    background-color: #005691;
    color: white;
  }
}
.countdown-timer {
  position: absolute;
  background-color: white;
  z-index: 50;
  text-align: center;
  border-radius: 5px;
  display: none;
  top: 20px;
  right: 40px;
  font-weight: 100;
  font-size: 50px;
  width: 100px;
  height: 75px;
  opacity: 0.5;
}

.time-up {
  @extend .center;
  position: absolute;
  background-color: white;
  z-index: 100;
  text-align: center;
  border-radius: 5px;
  display: none;
  height: 150px;

  .countdown-next-button {
    margin: 20px;
    padding: 15px;
    width: 300px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    background-color: #E8F1F5;
    font-size: 30px;
    transition: background-color 0.5s;
  }
  .countdown-next-button:hover {
    background-color: #005691;
    color: white;
  }
}

img {
  max-width: 100%;
}


.player-one-flag {
  display: none;
  position: absolute;
  z-index: 100;
  background-repeat: no-repeat;
  transform: translate(-50%, -95%);
  width: 30px;
  height: auto;
  pointer-events: none;
}

.player-two-flag {
  display: none;
  position: absolute;
  z-index: 100;
  background-repeat: no-repeat;
  transform: translate(-50%, -90%);
  width: 30px;
  height: auto;
  pointer-events: none;
}

.answer-location {
  display: none;
  position: absolute;
  z-index: 2;
  background-repeat: no-repeat;
  transform: translate(-43%, -50%);
  width: 30px;
  height: auto;
}

.player-twos-turn {
  @extend .center;
  display: none;
  position: absolute;
  background-color: white;
  z-index: 100;
  text-align: center;
  border-radius: 5px;
  height: 150px;
  width: 350px;

  .player-twos-turn-button {
    margin: 20px;
    padding: 15px;
    width: 300px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    background-color: #E8F1F5;
    font-size: 20px;
    transition: background-color 0.5s;
  }
  .player-twos-turn-button:hover {
    background-color: #005691;
    color: white;
  }
}

.end-of-round {
  @extend .center;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 100;
  text-align: center;
  border: 1px solid lightgrey;
  border-radius: 5px;
  display: none;

  .next-round-button {
    margin: 40px;
    padding: 15px;
    border: 1px solid darkgrey;
    border-radius: 3px;
    background-color: #E8F1F5;
    font-size: 20px;
    width: 300px;
    transition: background-color 0.5s;
  }

  .next-round-button:hover {
    background-color: #005691;
    color: white;
  }
}

.end-of-game {
  @extend .center;
  position: absolute;
  background-color: white;
  z-index: 50;
  text-align: center;
  border-radius: 5px;
  display: none;

  .play-again-button {
    margin: 20px;
    padding: 15px;
    border: 1px solid darkgrey;
    border-radius: 3px;
    background-color: #E8F1F5;
    font-size: 20px;
    width: 300px;
    transition: background-color 0.5s;

  }
  .play-again-button:hover {
    background-color: #005691;
    color: white;
  }
}

@media screen and (max-width: 1030px) {
  .welcome {
    width: 250px;
    height: 250px;
    display: none;
    background-color: white;
    z-index: 100;
    text-align: center;
    border-radius: 2px;
    padding: 5px;
    // background-image: url("/images/skylinebackground.png");
    // background-position: bottom center;
    // background-size: contain;
    // background-repeat: no-repeat;

    h1 {
      font-family: 'Montserrat Subrayada', sans-serif;
      font-size: 30px;
      margin: 5px;

    }

    .map-select {
      font-size: 7.5px;
    }

    .quiz-select {
      font-size: 7.5px;
    }


    .start-game-button {
      margin: 10px;
      padding: 7.5px;
      width: 200px;
      height: 50px;
      border: 1px solid lightgrey;
      border-radius: 3px;
      background-color: #E8F1F5;
      opacity: 0.7;
      font-size: 10px;
      transition: background-color 0.5s;

    }

    h3 {
      display: none;
    }

    h4 {
      display: none;
    }
  }

  .question {
    position: absolute;
    background-color: white;
    z-index: 50;
    text-align: center;
    border-radius: 2px;
    display: none;
    height: 100px;
    font-size: 10px;

    .start-round-button {
      margin: 10px;
      padding: 7px;
      width: 150px;
      border: 1px solid lightGrey;
      border-radius: 3px;
      background-color: #E8F1F5;
      font-size: 10px;
      transition: background-color 0.5s;
    }
  }

  .player-twos-turn {
    border-radius: 2px;
    height: 70px;
    width: 175px;

    h1 {
      font-size: 14px;
    }

    .player-twos-turn-button {
      margin: 10px;
      padding: 7px;
      width: 150px;
      border-radius: 3px;
      font-size: 10px;
    }
  }

  .time-up {
    border-radius: 3px;
    height: 75px;

    .countdown-next-button {
      margin: 10px;
      padding: 7px;
      width: 150px;
      font-size: 12px;
    }

    h2 {
      font-size: 12px;
    }
  }

  .end-of-round {

    font-size: 12px;

    .next-round-button {
      margin: 10px;
      padding: 7px;
      width: 200px;

    }
  }

.end-of-game{
  font-size: 12px;

  .play-again-button {
    margin: 10px;
    padding: 7px;
    width: 200px;
  }
}
}

.warning {
  display: none;
}

@media only screen and (orientation: portrait) {
  html {
    height: 100%;
  }
  body {
    background-image: url("/images/skylinebackground.png");
    background-repeat: no-repeat;
    background-position: 37% 76%;
    .warning {
      display: block;
      margin: 50% auto;
      text-align: center;
      border: 2px solid lightgrey;

      h1 {
        font-family:'Montserrat Subrayada', sans-serif;
        font-size: 120px;
      }

      h3 {
        font-size: 40px;
      }
    }
    .wrapper {
      display: none;
    }
  }
}
